@import url(
'https://fonts.googleapis.com/css?family=Big+Shoulders+Text:100, 300, 400, 500, 600, 700, 800, 900&display=swap');

*{
  margin:0px;
  padding: 0;
  box-sizing:border-box;
}

html {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
html{
  scroll-behavior: smooth;
}


.about-section {
  display: flex;
  text-align: center;
  background-color: #8a89ec2c;
  padding: 50px 30px;
  }

  .row-1{
  padding-bottom: 10px; 
  margin-bottom: 20px; 
}


.sub-row{
  background: #fff;
  
}

.services-info{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(5px, 1fr));
  grid-gap: 1px;
  margin-top: 50px;
}

.container{
  padding: 50px 30px;
}

.sub-title{
  text-align: center;
}


.tutorial-info{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

/* Media Queries */
@media (max-width: 768px) {
  .services-info div {
      flex: 0 0 calc(100% - 20px);
  }

  .tutorial-info div {
      flex: 0 0 calc(50% - 20px);
  }

  .contact-left,
  .contact-right {
      flex: 0 0 100%;
  }
}

@media(max-width: 997px) {

  .container-fluid{
    padding-left: -20px;
  }
  .services-info div,
  .tutorial-info div {
      flex: 0 0 calc(100% - 20px);
  }

  svg text{
    font-size: 20px;
    flex-basis: 100%;
    width: 100%;
  }

  .sub-title{
    text-align: center;
    font-size: 40px;
  }

  .about-section p{
    height: 50%;
    text-align: center;
    font-size: 11px;
  }

  .tutorial-info div iframe{
    flex-basis: 100%;
  }
}

.row .watermark {
  color: #e6e6e6;
  font-size: 48px;
  text-transform: capitalize;
  margin-bottom: 35px;
  padding-right: 0;
  font-family: 'bulgattiregular';
}

@media only screen and (max-width: 991px){
.section-title .title {
    font-size: 30px;
}
}

.row .foundation-title {
  font-size: 25px;
  text-transform: uppercase;
  margin-bottom: 70px;
  line-height: 0;
  margin-top: -56px;
}


h1 {
  display: block;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.card i {
  font-size: 43px;
  margin-bottom: 15px;
  padding-top: 25px;
  text-align: center;
}

img {
  vertical-align: middle;
}

.content-section{
  background-image: url(abany.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 500px;
}

.content-section h6{
  text-decoration: underline;
  padding-bottom: 20px;
}

.content-section h3{
  padding-bottom: 30px;
}
.content-section p{
  color: black;
  background-color: white;
  width: 150px;
  text-align: center;
}

.content-section .container{
  padding-top: 110px;
}

.card{
  border:none;
  border-radius: unset;
}

.donation{
  background-color: black;
  color: white;
  text-align: center;
  width: 150px;
}

#projects .watermark{
  color: #e6e6e6;
  font-size: 48px;
  text-transform: capitalize;
  margin-bottom: 35px;
  padding-right: 0;
  font-family: 'bulgattiregular';
}

#projects h3{
  font-size: 25px;
  margin-bottom: 70px;
  line-height: 0;
  margin-top: -52px;
}

a{
  text-decoration: none;
  color: #fff;
  background-color: rgb(33, 29, 29);
}

#contact{
  background-color: #e6e6e6;
}

footer{
  background-color: #e6e6e6;
  padding-top: 10px;
  padding-bottom: 2px;
}

.about-sec a{
  color:black;
  background-color:white;
  width: 150px;
}

.border-bottom{
  padding-bottom: -30px;
}